<html>
    {{> header }}
    <body class="centered-form">
        <div class="centered-form__form">
            <div class="form-field">
                <label>Pick a room:</label>
                <select class="form-control" id="rooms">
                    {{#each rooms}}
                    <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <button type="button" id="joinRoom">Join</button>
            </div>
            <div id="messageBlock">
            </div>
            <div class="form-field">
                <label>Create a room:</label>
                <input type="text" id="newRoomName" name="room"/>
                <button type="button" id="createNewRoom">Create</button>
            </div>
        </div>
        {{> js }}
        <script src="js/room.js"></script>
    </body>
</html>